scipy==1.15.3 
pandas==2.3.3
matplotlib
opencv-python
pillow
scikit-image
tifffile
rasterio==1.4.3
einops
timm==1.0.26
omegaconf
PyYAML
lightning==2.5.3
tensorboard
lpips
pytorch-msssim
pytorch-wavelets
huggingface_hub
tqdm
rich